@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') center no-repeat fixed;
    background-size: cover;
}

main {
    /*posicionamento*/
    position: relative;

    /*basico*/
    height: 100vh;
}

#telefone {
    /*posicionamento*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*basico*/
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') center no-repeat fixed;
}

#redes-sociais {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 282px;
    height: 597px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 33px;
    border: none;
}

#logo img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px #00000074;
    box-sizing: border-box;
}

#logo img:hover {
    border: 1px solid #ffffff67;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 7px #00000074;
    transition: border 1s, transform 0.3s;

}