@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') center no-repeat fixed;
    background-size: cover;
}

main {
    /*posicionamento*/
    position: relative;

    /*basico*/
    height: 100vh;
}

#telefone {
    /*posicionamento*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*basico*/
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') center no-repeat fixed;
}

#redes-sociais {
    position: absolute;
    top: 10px;
    right: 10px;
}

#logo img:hover {
    transform: skewy(10deg);
}

.container {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 280px;
    height: 590px;
    margin-top: 18px;
    margin-left: 16px;
    border-radius: 25px;
    border: none;
}

#logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}