@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: monospace;
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100vw;
}

a {
    background-color: red;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: -3px;
    display: block;
    padding: 20px;
    text-align: center;
    min-height: 65px;
}

a:hover {
    font-size: 1.4em;
    transition-duration: 0.3s;
    background-color: rgb(200, 0, 0);
    font-weight: bold;
}
